<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/scss/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>

    <div class="nav-bar"></div>
    
    <div id ="app">
        <div class="product">

            <div class="product-image">
                <img :src="image" alt=""> 
            </div>

            <div class="product-info">
                <h1>{{ product}}</h1> 
                <p>{{description}}</p>
                <p v-show="onSale">On Sale 10% !</p>
                <a href :link="link">More product like this</a>
                <p v-if="inventory > 10">In stock</p>
                <p v-else-if="inventory <=10 && inventory>0">Almost sold out</p>
                <p v-else>Out of Stock</p>
                <ul >
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
            </div>


        </div>
    </div>

    <script src="/app/js/script.js"></script>
</body>
</html>